.hero__section {
  position: relative;
  top: 90px;
  width: 100%;
  padding: 0 30px;
  display: flex;
}

.container-left {
  width: 100%;
}

.container-right {
  position: relative;
  top: 10px;
  width: 45%;
  margin-left: 2rem;
}
